{% extends 'dashboard/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-3">
        <h3>Add Category</h3>
        {% if messages %}
        {% for mes in messages %}
        <div class="alert alert-success">{{ mes }}</div>
        {% endfor %}
        {% endif %}
        <form method='Post' class="form">
            <div class="form-group">
                <input type="text" name="category_name" class="form-control" placeholder="Category Name">
            </div>
            <div class="form-group">
                <textarea name="content" class="form-control"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Add Category"> 
            {% csrf_token %}
        </form>
    </div>
</div>

{% endblock %}