{% extends 'classwork_app/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Detail
{% endblock %}

{% block content %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>{{ dt.abt_title }}</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="detailContent">
      {% if dt %}
        <div class="contain-img">
          <div class="img-div">
              <img src="{{ dt.profile.url }}" class="img-responsive">
          </div>
        </div>
        <div class="detail-content">
          <h2>{{ dt.abt_title }}</h2>
          <p>
           {{ dt.description }}
          </p>
        </div>
        {% endif %}

    </div>
    {% include 'classwork_app/sidebar.html' %}
    <!-- END OF ASIDE CONTENT -->
  </div>
</section>
{% endblock %}