{% extends 'classwork_app/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
About Us
{% endblock %}

{% block content %}
<section id="sectionTitle">
  <div class="pageTitle text-center">
    <h1>{{ pds.pst_title }}</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9" id="mainContent">
      {% if pds %}
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="thumbnail">
              <img src="{{ pds.pst_img.url }}">
            </div>
          </div> 
          <div class="col-md-8 col-sm-8">
            <div class="blog-content">
               <p>
                Time:{{ pds.created_date|date:'H :i' }}, Category:<a href="#">{{ names }}.</a>. 
                Posted By: <a href="#">{{ pds.user.first_name }}</a>.
                
              </p>
              <h2>{{ pds.pst_title }}</h2>
              <p>
                {{ pds.content }}
              </p>
            </div>
          </div>
        </div>
      {% endif %}
      
     
    </div>
    {% include 'classwork_app/sidebar.html' %}
    <!-- END OF ASIDE CONTENT -->
  </div>
</section>

{% endblock %}